<div class="container mt-5">
    <h2 class="text-center mb-4">My Projects</h2>
    <div class="row">
        <div class="col-md-4 fade-in">
            <div class="card project-card">
                <img src="code dazel.JPG" class="card-img-top" alt="Code Dazel">
                <div class="card-body text-center">
                    <h5 class="card-title">Code Dazel</h5>
                    <a href="https://code-dazzle.vercel.app/" class="btn btn-primary" target="_blank">View
                        Project</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 fade-in">
            <div class="card project-card">
                <img src="Capture.JPG" class="card-img-top" alt="Level5">
                <div class="card-body text-center">
                    <h5 class="card-title">Level5</h5>
                    <a href="https://level5-rho.vercel.app/" class="btn btn-primary" target="_blank">View
                        Project</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 fade-in">
            <div class="card project-card">
                <img src="mafic.JPG" class="card-img-top" alt="Mafic">
                <div class="card-body text-center">
                    <h5 class="card-title">Mafic</h5>
                    <a href="https://mefic-tau.vercel.app/" class="btn btn-primary" target="_blank">View Project</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 fade-in mt-4">
            <div class="card project-card">
                <img src="travel.JPG" class="card-img-top" alt="Travel CMS">
                <div class="card-body text-center">
                    <h5 class="card-title">Travel CMS</h5>
                    <a href="https://travel-cms-blue.vercel.app/" class="btn btn-primary" target="_blank">View
                        Project</a>
                </div>
            </div>
        </div>
    </div>

</div>