<body>
    <section class="skills-section">
        <div class="container">
            <h2 class="text-dark mb-5">My Skills</h2>
            <div class="row g-4">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 fade-in">
                    <div class="skill-box"><i class="fab fa-react"></i> MERN Stack</div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 fade-in">
                    <div class="skill-box"><i class="fa-solid fa-code"></i> .NET Core MVC</div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 fade-in">
                    <div class="skill-box"><i class="fa-solid fa-database"></i> SQL & MySQL</div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 fade-in">
                    <div class="skill-box"><i class="fa-solid fa-server"></i> Node.js & Express</div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 fade-in">
                    <div class="skill-box"><i class="fa-brands fa-js"></i> JavaScript & jQuery</div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 fade-in">
                    <div class="skill-box"><i class="fa-brands fa-html5"></i> HTML & CSS (SASS, Tailwind, MUI)</div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 fade-in">
                    <div class="skill-box"><i class="fa-brands fa-node"></i> GraphQL & REST APIs</div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 fade-in">
                    <div class="skill-box"><i class="fa-solid fa-code-branch"></i> TypeScript & C#</div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 fade-in">
                    <div class="skill-box"><i class="fa-solid fa-database"></i> MongoDB</div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 fade-in">
                    <div class="skill-box"><i class="fa-solid fa-toolbox"></i> Full Stack Development</div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 fade-in">
                    <div class="skill-box"><i class="fa-solid fa-mobile"></i> Mobile App Development (Flutter & React
                        Native)</div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 fade-in">
                    <div class="skill-box"><i class="fa-solid fa-cloud"></i> Cloud Computing (AWS, Firebase, Azure)
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 fade-in">
                    <div class="skill-box"><i class="fa-solid fa-lock"></i> Cybersecurity & Authentication</div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 fade-in">
                    <div class="skill-box"><i class="fa-solid fa-chart-line"></i> Data Structures & Algorithms</div>
                </div>
            </div>
        </div>
    </section>
</body>